@font-face {
  font-family: "Bolden";
  src: url("/fonts/bolden-regular-webfont.woff2") format("woff2"),
    url("/fonts/bolden-regular-webfont.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agelia";
  src: url("/fonts/Agelia.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}
